* {
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}


body {
    overflow: auto;
    margin: 0;
    padding: 0;
}

header {
    border: solid 1px green;
    margin: 0 20px;
    height: 600px;
    background: url("./immagini/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;

}


.head {
    background-color: rgba(0, 0, 0, 0.352);

}

.title {
    font-size: 2.5em;
    padding: 10px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.subtitle {
    font-weight: 100;
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}


.favicon {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.callToAction {
    padding: 15px;
    width: 100%;
    max-width: 250px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}


.callToAction:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fa-solid.fa-house {
    padding: 0 10px;
}

.main {
    padding: 0;
    display: block;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    background-color: rgba(234, 232, 232, 0.553);
}



.firstItem {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-template-rows: auto;
    gap: 20px;
}

.card {
    padding-top: 30px;
    width: 100%;
    max-width: 300px;
    margin: 0 10px;
    height: 200px;
}

.contentTitle {
    text-align: center;
    padding: 20px 10px;
    margin: 0;
    font-size: 1em;
}

.contentP {
    text-align: center;
    height: 150px;
    padding: 20px;
}

.fa-regular.fa-chess-queen,
.fa-solid.fa-handshake-simple,
.fa-solid.fa-sack-dollar,
.fa-solid.fa-leaf,
.fa-solid.fa-heart-pulse {
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 1.3em;
}

.itemImg {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 0 auto;
    height: 500px;
}

.secondItem {
    width: 80%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 0 auto;
}

.box {
    height: 350px;
}


.box.uno {
    background-color: rgba(0, 0, 0, 0.107);
}

.box img {
    width: 100%;
    object-fit: contain;
    display: block;
    margin: 0;
    padding: 0;
}

.box.tre, .box.quattro{
    height: 500px;
}

.smallCall {
    display: block;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin: 0 auto;
    color: #fff;
    background-color: #000;
}

.smallCall:hover{
    text-decoration: underline;
    cursor: pointer;
}

.box.quattro{
  background-color:rgba(0, 0, 0, 0.107) ;  
}

.box.cinque{
    grid-column: 1/3;
    background: url("./immagini/box5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

#small{
    padding: 10px;
}


.form{
    background-color: rgba(0, 0, 0, 0.107);
}

.form h1{
    margin: 0;
    padding: 20px;
    text-align: center;
}

label, input{
    display: block;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

label{
    padding: 10px;
}

input{
    padding: 10px;
}

footer{
    width: 100%;
    background-color:rgba(234, 232, 232, 0.553);
}

footer h2{
    margin:0 auto;
    text-align: center;
    padding: 20px;
}

.social{
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
    font-size: 2em;
}